extends layout

block content
  section.container
    h1= title

  section.container
    each image in images
      .col-xl-12.col-md-6.col-lg-4
        .image
          img(src='/fetenkiste/' + image)
          span.title-img #{image}